<include file="header"/>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="function-content">
                <ul>
                    <if condition="$userdataid eq 'userdataid'">
                        <li class="order-content">
                            <div class="container-fluid">
                                <table class="table table-striped table-bordered  table-hover table-condensed">
                                    <tr>
                                        <td>餐桌号</td><td>菜单</td><td>单价</td><td>数量</td><td>总价</td><td>备注</td><td>状态</td>
                                    </tr>
                                    <for start="$page" end="$pagenum" name="i">
                                        <php>
                                            $td = '';
                                            $count = count($arr[$i]);
                                            if ($count > 1) {
                                            $td .= "<tr>";
                                            $td .= "<td>".$arr[$i][0]['dishesuser']."</td>";
                                            $td .= "<td>".$arr[$i][0]['dishes']."</td>";
                                            $td .= "<td>".$arr[$i][0]['price']."</td>";
                                            $td .= "<td>".$arr[$i][0]['number']."</td>";
                                            $td .= "<td>".$arr[$i][0]['price']*$arr[$i][0]['number']."</td>";
                                            $td .= "<td>".$arr[$i][0]['beizhu']."</td>";
                                            if ($arr[$i][0]['state'] == 1) {
                                            $td .= "<td>订单已完成</td>";
                                            } else {
                                            $td .= "<td>订单未完成</td>";
                                            }
                                            $td .= "</tr>";
                                            for ($j=1;$j<$count;$j++) {
                                            $td .= "<tr>";
                                            $td .= "<td></td>";
                                            $td .= "<td>".$arr[$i][$j]['dishes']."</td>";
                                            $td .= "<td>".$arr[$i][$j]['price']."</td>";
                                            $td .= "<td>".$arr[$i][$j]['number']."</td>";
                                            $td .= "<td>".$arr[$i][$j]['price']*$arr[$i][$j]['number']."</td>";
                                            $td .= "<td>".$arr[$i][$j]['beizhu']."</td>";
                                            if ($arr[$i][$j]['state'] == 1) {
                                            $td .= "<td>订单已完成</td>";
                                            } else {
                                            $td .= "<td>订单未完成</td>";
                                            }
                                            $td .= "</tr>";
                                            }
                                            } else {
                                            foreach ($arr[$i] as $value) {
                                            $td .= "<tr>";
                                            $td .= "<td>".$value['dishesuser']."</td>";
                                            $td .= "<td>".$value['dishes']."</td>";
                                            $td .= "<td>".$value['price']."</td>";
                                            $td .= "<td>".$value['number']."</td>";
                                            $td .= "<td>".$value['number']*$value['price']."</td>";
                                            $td .= "<td>".$value['beizhu']."</td>";
                                            if ($value['state'] == 1) {
                                            $td .= "<td>订单已完成</td>";
                                            } else {
                                            $td .= "<td>订单未完成</td>";
                                            }
                                            $td .= "</tr>";
                                            }
                                            }
                                            echo $td;
                                        </php>
                                    </for>
                                    {/*<foreach name="pagedata" item="vo">
                                        <tr>
                                            <if condition="$vo.state neq '1'"><td><input type="checkbox" value="{$vo.oid}" name="check"></td></if>
                                            <td>{$vo.dishesuser}</td>
                                            <td>{$vo.dishes}</td>
                                            <td>{$vo.price}</td>
                                            <td>{$vo.number}</td>
                                            <td>{$vo["price"]*$vo["number"]}</td>
                                            <td>{$vo.beizhu}</td>
                                            <td><if condition="$vo.state eq '1'">已处理<else/><a href="/order/index.php/Index/modifystate/id/{$vo.oid}">修改状态为已处理</a> </else></if></td>
                                        </tr>
                                    </foreach>
                                    */}
                                </table>
                                <if condition="$state eq 0 and $count neq 0"><button class="btn btn-default" id="btn">批量修改</button></if>
                                {/*<if condition="$count neq 0">*/}
                                <nav aria-label="Page navigation">
                                    <input id="state" type="hidden" value="{$state}">
                                    <input id="total" type="hidden" value="{$total}">
                                    <ul class="pagination">
                                        <li class="btn-prev">
                                            <span href="" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </span>
                                        </li>
                                        {$pagelist}
                                        <li class="btn-next">
                                            <span href="" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </span>
                                        </li>
                                    </ul>
                                </nav>
                                {/*</if>*/}
                            </div>
                        </li>
                    </if>
                    <if condition="$oneuserid eq 'oneuserid'">
                        <foreach name="oneuser" item="vo">
                            <li class="order-content">
                                <div class="container-fluid">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-1 control-label">用户名</label>
                                            <div class="col-sm-11">
                                                <input type="text" class="form-control" id="inputEmail3" placeholder="用户名" value="{$vo.username}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword4" class="col-sm-1 control-label">密码</label>
                                            <div class="col-sm-11">
                                                <input type="password" class="form-control" id="inputPassword4" placeholder="密码" value="{$vo.userpass}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-1 col-sm-10">
                                                <button type="submit" class="btn btn-default">Sign in</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </foreach>
                    </if>
                    <if condition="$adduserid eq 'adduserid'">
                        <li class="order-content">
                            <div class="container-fluid">
                                <form class="form-horizontal" method="post" action="/order/index.php/Index/adduser">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-1 control-label">用户名</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" id="inputEmail3" name="username" placeholder="用户名">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword4" class="col-sm-1 control-label">密码</label>
                                        <div class="col-sm-11">
                                            <input type="password" class="form-control" id="inputPassword4" name="userpass" placeholder="密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword4" class="col-sm-1 control-label">权限</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" id="inputPassword4" name="jurisdiction" placeholder="权限">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-1 col-sm-10">
                                            <button type="submit" class="btn btn-default">Sign in</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </if>
                    <if condition="$onevieworderid eq 'onevieworderid'">
                        <table class="table table-bordered table-hover">
                            <foreach name="onevieworder" item="vo">
                                <tr>
                                    <td>菜名：{$vo.username}</td>
                                    <td>单价：{$vo.dishes}</td>
                                    <td>数量：{$vo.num}</td>
                                    <td>总价：{$vo.total}</td>
                                </tr>
                            </foreach>
                        </table>
                    </if>
                    <if condition="$tableid eq 'tableid'">
                        <table class="table table-bordered table-hover">
                            <tr><td>桌号</td><td>人数</td></tr>
                            <foreach name="table" item="vo">
                                <tr>
                                    <td>{$vo.tablenumber}</td>
                                    <td>{$vo.number}</td>
                                </tr>
                            </foreach>
                        </table>
                    </if>
                    <if condition="$dataid eq 'dataid'">
                        <a class="btn btn-default" href="/order/index.php/Index/adddishes" target="order">添加菜品</a>
                        <table class="table table-striped table-bordered  table-hover table-condensed">
                            <tr>
                                <td>名字</td><td>缩略图</td><td>类别</td><td>价格</td><td>操作</td>
                            </tr>
                            <foreach name="caidata" item="vo">
                                <tr>
                                    <td>{$vo.dishes}</td>
                                    <td>{$vo.dishes}</td>
                                    <td>{$vo.packagename}</td>
                                    <td>{$vo.price}</td>
                                    <td><a href="">编辑</a><a href="/order/index.php/Index/anchu/id/{$vo.id}">删除</a> </td>
                                </tr>
                            </foreach>
                        </table>
                        <nav aria-label="Page navigation">
                            <input id="total" type="hidden" value="{$total}">
                            <ul class="pagination">
                                <li class="btn-prev">
                                    <span href="" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </span>
                                </li>
                                {$pagelist}
                                <li class="btn-next">
                                    <span href="" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </span>
                                </li>
                            </ul>
                        </nav>
                    </if>
                    <if condition="$packageid eq 'packageid'">
                        <a class="btn btn-default" href="/order/index.php/Index/addpackage" target="order">添加套餐</a>
                        <table class="table table-striped table-bordered  table-hover table-condensed">
                            <tr>
                                <td>名字</td><td>类别</td><td>价格</td><td>操作</td>
                            </tr>
                            <foreach name="package" item="vo">
                                <tr>
                                    <td>{$vo.dishes}</td>
                                    <td><if condition="$vo.package eq '1'">套餐</if></td>
                                    <td>{$vo.packagename}</td>
                                    <td><a href="">编辑</a><a href="/order/index.php/Index/anchu/id/{$vo.id}">删除</a> </td>
                                </tr>
                            </foreach>
                        </table>
                        <nav aria-label="Page navigation">
                            <input id="total" type="hidden" value="{$total}">
                            <ul class="pagination">
                                <li class="btn-prev">
                                    <span href="" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </span>
                                </li>
                                {$pagelist}
                                <li class="btn-next">
                                    <span href="" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </span>
                                </li>
                            </ul>
                        </nav>
                    </if>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/order/bootstrap/js/jquery-3.2.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/order/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var string = '';
        $("[name='check']").click(function () {
            var str = '';
            $("[name='check']").each(function (index) {
                if ($("[name='check']").eq(index).is(":checked")) {
                    str += $("[name='check']").eq(index).val()+",";
                }
                string = str.substring(0,str.length-1);
            });
        });
        $("#btn").click(function () {
            $.ajax({
                url:"http://localhost/order/index.php/Index/batchmod",
                type:"post",
                dataType:"",
                data:{
                    str:string
                },
                success:function (data) {
                    alert(data);
                },
                error:function (jqXHR) {
                    alert(jqXHR.status);
                }
            });
        });
        var page = parseInt($(".active").find("a").html());
        var state = $("#state").val();
        var btnPrev = $(".btn-prev");
        var btnNext = $(".btn-next");
        var total = $("#total").val();
        if (page == 1) {
            btnPrev.addClass("disabled");
        } else {
            btnPrev.click(function () {
                location.href = "/order/index.php/Index/{$controller}/state/" + state + "/page/" + (page-1);
            });
        }
        if (page == total) {
            btnNext.addClass("disabled");
        } else {
            btnNext.click(function () {
                location.href = "/order/index.php/Index/{$controller}/state/" + state + "/page/" + (page+1);
            });
        }
    });
</script>
</body>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>